<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76e2aa">  <td>19/09/18 18:45:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test20Notificacion.IngresoAmbiente()[pri:0, instance:test.Test20Notificacion@60cf62ad]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267098351</td>   <td></td> </tr>
<tr bgcolor="76e2aa">  <td>19/09/18 18:45:37</td>   <td>9746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSLISTNOT()[pri:39, instance:test.Test20Notificacion@60cf62ad]">CMSLISTNOT</td> 
  <td>main@267098351</td>   <td></td> </tr>
<tr bgcolor="76e2aa">  <td>19/09/18 18:46:05</td>   <td>38397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@60cf62ad]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@267098351</td>   <td></td> </tr>
<tr bgcolor="76e2aa">  <td>19/09/18 18:46:08</td>   <td>40530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSNOTIFICACION()[pri:40, instance:test.Test20Notificacion@60cf62ad]">CMSNOTIFICACION</td> 
  <td>main@267098351</td>   <td></td> </tr>
<tr bgcolor="76e2aa">  <td>19/09/18 18:46:35</td>   <td>68142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@60cf62ad]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@267098351</td>   <td></td> </tr>
<tr bgcolor="76e2aa">  <td>19/09/18 18:46:38</td>   <td>71156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSSendsNOTIFICACION()[pri:41, instance:test.Test20Notificacion@60cf62ad]">CMSSendsNOTIFICACION</td> 
  <td>main@267098351</td>   <td></td> </tr>
<tr bgcolor="76e2aa">  <td>19/09/18 18:47:14</td>   <td>107410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@60cf62ad]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@267098351</td>   <td></td> </tr>
<tr bgcolor="76e2aa">  <td>19/09/18 18:47:17</td>   <td>109906</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.CloseChrome()[pri:0, instance:test.Test20Notificacion@60cf62ad]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267098351</td>   <td></td> </tr>
</table>
